.has-field-validation-error,
input[type].has-field-validation-error {
  border: 2px solid #f00;
}

.field-validation-error-container {
  margin: 1px;
  border: 1px solid #f00;
  margin-top: -4px;
  border-radius: 4px;
}

.field-validation-error-message {
  padding: 5px;
  box-sizing: border-box;
  background: #f00;
  color: #fff;
  display: inline-block;
  width: 100%;
}
