.rezfusion-modal {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.rezfusion-modal__wrap {
  position: relative;
  width: 60vw;
  max-width: 800px;
  max-height: calc(100vh - 30px);
  padding: 30px 15px;
  overflow: auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
  border-radius: 10px;
}

.rezfusion-modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 45px;
  line-height: 0.5;
  cursor: pointer;
}
